modules = ["nodejs-20", "web", "java-graalvm22.3"]
run = "npm run dev"
[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Start React Native App"

[[workflows.workflow]]
name = "Dev Server"
author = 43564906
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Start Next.js App"
author = 45048866
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Start React Native App"
author = 45909510
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd LocalDealRN && npm install && npm start"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081
